:root{
		--bs-gutter-x:15px;
	}

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		list-style: none;
		text-decoration: none;
	}

	.container-fluid, .container-xxl, .container-xl, .container-lg{
		max-width: 100%;
	    padding-right: var(--bs-gutter-x,.75rem);
	    padding-left: var(--bs-gutter-x,.75rem);
	    margin-right: auto;
	    margin-left: auto;
	}
	.container-xxl{ max-width: 1320px; }
	.container-xl{ max-width: 1140px; }
	.container-lg{ max-width: 960px; }

	h1{ font-size: 2.5rem; margin-bottom: 10px; }
	.row-header{ display: flex; justify-content: space-between; height: 100%;}
	.col-5{ width: 100%; margin: 10px; }
	.col-4{ width: calc(100% / 3); padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto;margin-bottom: 10px; height: 100%;}

	header{
		height: 100vh;
		background: #be6f6d;
		padding-top: 4rem;
	}
		nav{
			background: #9d0000;
			padding: 8px;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 99;
			color: white;
		}

		nav ul{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

			.btn-menu{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
			}

			.btn-menu span{ 
				height: 5px; 
				width: 26px; 
				margin: 2px 0px; 
				background: white
			}

		.sect-header{
			height: 100%;
			background: linear-gradient(to top, transparent, #ffffff55);
		}

			.header-marcos{
				display: flex; align-items: center; justify-content: center; height: 100%; position: relative;
			}

				.header-marcos:before{
					content: '';
					position: absolute;
					background: #537691;
					height: 300px;
					width: 300px;
					z-index: 2;
					top: 1.6rem;
					left: 2.2rem;
				}
				.header-marcos:after{
					bottom: 1.6rem;
					right: 2.2rem;
					content: '';
					position: absolute;
					width: 300px;
					height: 300px;
					z-index: 3;
					background: white;
					/*border:10px solid white;*/
				}

			.header-marcos figure{
				z-index: 10;
				width: 430px;
				height: 460px;
			}
				.header-marcos figure img{
					width: 100%; 
					height: 100%;
					object-fit: cover;
				}

	.section-uno{
		height: 100vh;
		position: relative;
		background: #f9f9f9
	}
	.section-dos{
		background: #f9f9f9;
		height: 100vh;
	}
	.section-tres{
		position: relative;
		background: #537691;
		height: 100vh;
	}
	.section-cuatro{
		position: relative;
		background: #ffebea;
		height: 100vh;
	}
	.section-cinco{
		background: #9d0000;
		height: 100vh;
		position: relative;
	}
	footer{
		border-top: 1px solid orange;
		background: #9d0000;
		height: 70vh;
		position: relative;
	}